{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% if app.user.actif == 0 %}
        <div class="alert alert-danger mt-3 mb-3 mr-3 ml-3 text-center">
            <h1>Votre compte a été banni veuillez contacter l'administrateur </h1>
        </div>
    {% else %}
        <div class="jumbotron text-right ">
            <h4>Date du jour : {{ 'now'| date('d/m/Y') }}</h4>
            <h4>Participant : {{ app.user.prenom | capitalize }} {{ app.user.nom | slice(0,1) | capitalize}}. {% if app.user.administrateur == 1 %}(admin){% endif %}</h4>
        </div>
    {% endif %}
    <section  >
                 <div class=" w-50">
                    <form action="{{ path('main_filtre') }}" method="post" name="filtre" >
                        <fieldset>
                            <legend>Filtrer les sorties</legend>
                            <label for="campus">Campus</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" id="campus">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
                                 </span>
                                <select class="form-control" name="campus" id="campus">
                                {% for campus in campus %}
                                     <option name="campus" id="campus" value="{{ campus.id }}">{{ campus.nom }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <br>
                            <label for="debut">Entre</label>&nbsp;<input class="form-control" type="date" name="debut" id="debut">&nbsp;<label for="fin"> et</label>&nbsp;<input
                                    class="form-control"  type="date" name="fin" id="fin"><br>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button type="submit" class="btn btn-primary " >Rechercher</button>
                            <a style=" white-space: nowrap" class="btn btn-success" href="{{ path('sortie_creation') }}">Créer une sortie</a>
                        </fieldset>
                    </form>
                </div>
                    <div class="container">
                        <div class="row">
                            {% if sorties.count == null %}
                                <div class="col-lg-12 mt-3 mb-3 text-center text-muted ">
                                    <h3>Aucune sortie disponible au sein de ce campus</h3>
                                </div>
                            {% else %}
                            {% for sortie in sorties %}
                                {% if sortie.etat == etatAnnuler %}
                                    <div class="col-lg-3 mt-3 mb-3">
                                        <div class="card " style="border-radius: 20px;">
                                            <img style="opacity: 0.2; border-radius: 20px; " height="250" src="{{ asset('uploadImage/' ~ sortie.photo) }}" alt="description">
                                            <div class="card-body">
                                                <div class="card-title"><h3>{{ sortie.nom }}</h3> </div>
                                                <div class="card-text">
                                                    <p>Date de début : {{ sortie.dateHeureDebut | date('d/m/Y') }}<br>
                                                        Clôture :  {{ sortie.dateLimiteInscription | date('d/m/Y') }}<br>
                                                        Places : 0 /{{ sortie.nbInscriptionMax }}<br>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg> :
                                                        {{ sortie.etat.libelle  }}<br>
                                                        Organisateur : {{ sortie.organisateur.campus.nom }}</p>
                                                    <div>
                                                        <h4 class="text-center" style="color: red;">Annulée!!!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-3 mt-3 mb-3">
                                        <div class="card"  style="border-radius: 20px;">
                                            <img class="imageCard" style="border-radius: 20px;" height="250" src="{{ asset('uploadImage/' ~ sortie.photo) }}" alt="description">
                                            <div class="card-body">
                                                <div class="card-title"><h3>{{ sortie.nom }}</h3> </div>
                                                <div class="card-text">
                                                    <p>Date de début : {{ sortie.dateHeureDebut | date('d/m/Y') }}<br>
                                                        Clôture :  {{ sortie.dateLimiteInscription | date('d/m/Y') }}<br>
                                                        Places : 0/{{ sortie.nbInscriptionMax }}<br>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg> :
                                                        {{ sortie.etat.libelle  }}<br>
                                                        Organisateur : {{ sortie.organisateur.campus.nom }}</p>
                                                    {% if app.user.actif == 0 %}
                                                        <div></div>
                                                    {% else %}
                                                        {% if app.user == sortie.organisateur %}
                                                            <a href="{{ path('sortie_annulation', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                                                            <a href="{{ path('sortie_affichage', {'id' : sortie.id}) }}" class="btn btn-primary">Afficher</a>
                                                        {% else %}
                                                            {% if app.user.administrateur == 1 %}
                                                                <a href="{{ path('sortie_annulation', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                                                            {% endif %}
                                                            <a href="{{ path('sortie_affichage', {'id' : sortie.id}) }}" class="btn btn-primary">Afficher</a>
                                                        {% endif  %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <div class="navigation  "  >
                                        {{ knp_pagination_render(sorties) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% if app.user.administrateur == 1 %}
            <div class="dropright menuParticipant ">
                <button class="btn btn dropdown-toggle" data-toggle="dropdown" type="button" id="deroulantP" style=" background-color: #7952b3;
                                                                                                                    color:white;
                                                                                                                    position: fixed;
                                                                                                                    left: 0px;
                                                                                                                    top: 250px;
                                                                                                                    margin-left: 10px;
                                                                                                                     clip-path: circle();
                                                                                                                     width : 60px;
                                                                                                                    height :60px;
                                                                                                                    font-size: 1.5em"
                >P</button>
                <div class="dropdown-menu dropdown-menu-lg-right " aria-labelledby="deroulantP" >
                    <h5 class="text-center">Participants</h5>
                    <hr>
                <div style="height: 300px; overflow-y: scroll;" >
                    {% for participant in participants %}
                        <div class="dropright-item">
                            <p>&nbsp;
                                {% if participant.actif != 0 %}
                                    <a href="{{path('admin_desactiverParticipant', {'id': participant.id})}}" style="text-decoration:none"  title="desactivated">
                                        <button style="border: none; background: none;" onclick="desactiverParticipant()" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" color="green" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                                            </svg></button>
                                    </a>
                                    &nbsp;{{ participant.pseudo }} / {{ participant.nom }} &nbsp;
                                    <a href="{{path('admin_suprimmerParticipant', {'id': participant.id})}}" style="text-decoration:none"  class="btn btn-outline-danger" onclick="suprimmerParticipant()"  title="suprimmer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" color="red" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                    &nbsp;
                                {% else %}
                                    <a href="{{path('admin_activerParticipant', {'id': participant.id})}}" style="text-decoration:none"  title="actived">
                                        <button style="border: none; background: none;" onclick="activerParticipant()" > <svg xmlns="http://www.w3.org/2000/svg" color="red" width="20" height="20" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                                <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                                            </svg>
                                        </button>
                                    </a>
                                    &nbsp;{{ participant.pseudo }} / {{ participant.nom }} &nbsp;
                                    <a href="{{path('admin_suprimmerParticipant', {'id': participant.id})}}" style="text-decoration:none"  class="btn btn-outline-danger" onclick="suprimmerParticipant()"  title="suprimmer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" color="red" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                    &nbsp;
                                {% endif %}
                            </p><hr>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endif %}
        <div class="dropup menuParticipant ">
            <button class="btn btn dropdown-toggle" data-toggle="dropdown" type="button" id="deroulantP" style=" background-color: #7952b3;
                                                                                                                    color:white;
                                                                                                                    position: fixed;
                                                                                                                    right: 0px;
                                                                                                                    bottom: 100px;
                                                                                                                    margin-left: 10px;
                                                                                                                     clip-path: circle();
                                                                                                                     width : 60px;
                                                                                                                    height :60px;
                                                                                                        "
            ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                </svg></button>
            <div class="dropdown-menu dropdown-menu-lg-right " aria-labelledby="deroulantP" >
                <h5 class="text-center">Tchat </h5>
                <h6>Admin : <i style="color:red">{{ admin.pseudo}}</i> </h6>
                <hr>
                <div style="height: 300px; overflow-y: scroll;" id="zoneDeTchat">
                    {% for question in questionsTchat %}
                        <p><i>{{ question.participant.pseudo }}</i> : {{ question.question }}</p>
                    {% endfor %}
                </div>
                <div class="mt-3 pr-2 pl-2">
                    <form  method="post" action="{{ path('main_tchat') }}">
                        <label for="question">Question : </label><input type="text" class="form-control" name="question" id="question" placeholder="Une question ? "><br>
                        <button class="btn btn-secondary" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
