{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-right">
        <h4>Date du jour : {{ 'now'| date('d/m/Y') }}</h4>
        <h4>Participant : {{ app.user.prenom | capitalize }} {{ app.user.nom | slice(0,1) | capitalize}}. {% if app.user.administrateur == 1 %}(admin){% endif %}</h4>
    </div>

    <section>
                 <div class="mr-5 ml-5 w-60">
                    <form action="{{ path('main_filtre') }}" method="post" name="filtre" >
                        <fieldset>
                            <legend>Filtrer les sorties</legend>
                            <label for="campus">Campus</label><select class="form-control" name="campus" id="campus">
                            {% for campus in campus %}
                                 <option name="campus" id="campus" value="{{ campus.id }}">{{ campus.nom }}</option>
                            {% endfor %}
                            </select>
                            <br>
                            <label for="debut">Entre</label>&nbsp;<input class="form-control" type="date" name="debut" id="debut">&nbsp;<label for="fin"> et</label>&nbsp;<input
                                    class="form-control"  type="date" name="fin" id="fin"><br>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button type="submit" class="btn btn-primary " >Rechercher</button>
                            <a style=" white-space: nowrap" class="btn btn-success" href="{{ path('sortie_creation') }}">Créer une sortie</a>
                        </fieldset>
                    </form>
                </div>
                    <div class="container">
                        <div class="row">
                            {% if sorties == null %}
                                <div class="col-lg-12 mt-3 mb-3 text-center text-muted ">
                                    <h3>Aucune sortie disponible au sein de ce campus</h3>
                                </div>
                            {% else %}

                            {% for sortie in sorties %}
                                {% if sortie.etat == etatAnnuler %}
                                    <div class="col-lg-3 mt-3 mb-3">
                                        <div class="card " >
                                            <img style="opacity: 0.2; " height="250" src="{{ asset('uploadImage/' ~ sortie.photo) }}" alt="description">
                                            <div class="card-body">
                                                <div class="card-title"><h3>{{ sortie.nom }}</h3> </div>
                                                <div class="card-text">
                                                    <p>Date de début : {{ sortie.dateHeureDebut | date('d/m/Y') }}<br>
                                                        Clôture :  {{ sortie.dateLimiteInscription | date('d/m/Y') }}<br>
                                                        Places : /{{ sortie.nbInscriptionMax }}<br>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg> : {#{{ sortie.etat  }}#}<br>
                                                        Organisateur : {#{{ sortie.organisateur }}#}</p>
                                                    <div>
                                                        <h4 class="text-center" style="color: red;">Annulée!!!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-3 mt-3 mb-3">
                                        <div class="card ">
                                            <img height="250" src="{{ asset('uploadImage/' ~ sortie.photo) }}" alt="description">
                                            <div class="card-body">
                                                <div class="card-title"><h3>{{ sortie.nom }}</h3> </div>
                                                <div class="card-text">
                                                    <p>Date de début : {{ sortie.dateHeureDebut | date('d/m/Y') }}<br>
                                                        Clôture :  {{ sortie.dateLimiteInscription | date('d/m/Y') }}<br>
                                                        Places : /{{ sortie.nbInscriptionMax }}<br>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg> : {#{{ sortie.etat  }}#}<br>
                                                        Organisateur : {#{{ sortie.organisateur }}#}</p>
                                                    {% if app.user == sortie.organisateur %}
                                                        <a href="{{ path('sortie_annulation', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                                                        <a href="{{ path('sortie_affichage', {'id' : sortie.id}) }}" class="btn btn-primary">Afficher</a>
                                                    {% else %}
                                                        <a href="{{ path('sortie_affichage', {'id' : sortie.id}) }}" class="btn btn-primary">Afficher</a>
                                                    {% endif  %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="navigation  "  >
                        {{ knp_pagination_render(sorties) }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
