{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Campus (admin){% endblock %}

{% block body %}

    <div class="jumbotron bg-warning text-center">
        <h1>Gérer les campus</h1>
    </div>

    <section class="mb-4" style=" display: flex; justify-content:space-between;">
        <div>
            <p>&nbsp;</p>
        </div>
        <div class="w-50" style="
            border-radius: 30px;
            background: #AAAAAA;
            ">
            <form action ='{{ path('admin_campus') }}' method="post">
                <fieldset>
                    <legend class="ml-1">Filtrer les campus</legend>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="campus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
                        </span>
                        <input aria-label="Le nom du campus contient :" aria-describedby="search" class="form-control" type="search" name="campus" id="campus" placeholder="Le nom du campus contient :"><br>
                    </div>
                    <button type="submit" class="btn btn-primary">Recherche</button>
                </fieldset>
            </form>
        </div>
        <div>
            <p>&nbsp;</p>
        </div>
    </section>

    <section class="mb-4" style=" display: flex; justify-content:space-between;">
        <div>
            <p>&nbsp;</p>
        </div>
        <div class="mb-3 pr-5 pl-5 pt-5 pb-5 " style="font-size:1em;
        border-radius: 100px;
        box-shadow: 10px 10px 20px;
        background: #AAAAAA;
            " >
            <table class="text-center" >
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody style="overflow-y: scroll;">
                {% for campus in campus %}
                    <tr >
                        <td>{{ campus.nom | upper}}</td>
                        <td><a href="#"  class="btn btn-outline-danger" onclick="supprimerCampus()" >Supprimer</a></td>
                    </tr>
                {% endfor %}
                <tr >
                    <form action="{{ path('admin_campus') }}" method="post">
                        <td><input type="text" class="form-control" id="nom" name="nom"></td>
                        <td><button type="submit" class="btn btn-primary" >Ajouter</button></td>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>&nbsp;</p>
        </div>
    </section>

{% endblock %}



