{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}
    <div class="jumbotron text-center bg-warning">
        <h1>Modification du profil</h1>
    </div>

    {% form_theme modifForm 'bootstrap_4_layout.html.twig' %}

    <div class="container ">
        <div class="row "  >
            <div class="col-lg-12 mb-2">
                <div class="text-center">
                    <img style="clip-path: circle();" width="300"  src="{{ asset('uploadImage/'~app.user.photo) }}" alt="photo de profil">
                </div>
                    <div class="text-center"><h1>{{ app.user.pseudo }}</h1></div>
                    <div class=" ml-3 ">
                        <div >
                            {{ form_start(modifForm) }}
                            {{ form_label(modifForm.pseudo) }}
                            {{ form_widget(modifForm.pseudo) }}

                            {{ form_label(modifForm.nom) }}
                            {{ form_widget(modifForm.nom) }}

                            {{ form_label(modifForm.prenom) }}
                            {{ form_widget(modifForm.prenom) }}

                            {{ form_label(modifForm.email) }}
                            {{ form_widget(modifForm.email) }}

                            {{ form_label(modifForm.telephone) }}
                            {{ form_widget(modifForm.telephone) }}

                            {{ form_label(modifForm.campus) }}
                            {{ form_widget(modifForm.campus) }}

                            {{ form_label(modifForm.photo) }}
                            {{ form_widget(modifForm.photo) }}


                            {{ form_label(modifForm.password) }}
                            {{ form_widget(modifForm.password) }}

                            <div class="mt-2 mb-2">
                                <button  class="btn btn-outline-warning " onclick="modifierProfil()">Modifier</button>&nbsp <a href="{{ path("main_suprimmer", {'id': app.user.id}) }}" class="btn btn-danger" onclick="supprimerProfil()">Supprimer mon compte</a>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                            {{ form_end(modifForm) }}
                         </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}