{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes sorties{% endblock %}

{% block body %}
    <div class="jumbotron text-center bg-warning">
        <h1><a style="color:black; text-decoration:none;" href="{{ path('sortie_historique', {'id': app.user.id}) }}">Mes sorties</a></h1>
    </div>

    <section>
        <div class="mr-5 ml-5">
            <form action="{{ path('sortie_filtre' , {'id': app.user.id}) }}" method="post" name="filtre" class="name " id="name">
                <fieldset>
                    <legend>Filtrer mes sorties</legend>
                    <div class="input-group">
                        <span class="input-group-text" id="search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
                        </span>
                        <input aria-label="Le nom de la sortie contient :" aria-describedby="search" class="form-control" type="search" name="sortie" id="sortie" placeholder="Le nom de la sortie contient :"><br>
                    </div>
                    <label for="debut">Entre</label>&nbsp;
                    <input class="form-control" type="date" name="debut" id="debut">&nbsp;<label for="fin"> et</label>&nbsp;<input
                            class="form-control"  type="date" name="fin" id="fin"><br>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit" class="btn btn-primary " >Rechercher</button>
                    <a style=" white-space: nowrap" class="btn btn-success" href="{{ path('sortie_creation') }}">Créer une sortie</a>
                </fieldset>
            </form>
        </div>
        <div class="container">
            <div class="row">
                {% if sorties == null %}
                    <div class="col-lg-12 mt-3 mb-3 text-center text-muted ">
                    <h3>Vous avez aucune sorties pour l'instant...</h3>
                </div>
                {% else %}
                {% for sortie in sorties %}
                    <div class="col-lg-3 mt-3 mb-3">
                        <div class="card w-30">
                            <img src="{{ asset('uploadImage/' ~ sortie.photo) }}" alt="description">
                            <div class="card-body">
                                <div class="card-title"><h3>{{ sortie.nom }}</h3> </div>
                                <div class="card-text">
                                    <p>Date de début : {{ sortie.dateHeureDebut | date('d/m/Y') }}<br>
                                        Clôture :  {{ sortie.dateLimiteInscription | date('d/m/Y') }}<br>
                                        Places : /{{ sortie.nbInscriptionMax }}<br>
                                        Etat : {#{{ sortie.etat  }}#}<br>
                                        Organisateur : {#{{ sortie.organisateur }}#}</p>
                                    <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}" class="btn btn-outline-warning">Modifier</a>
                                    <a href="{{ path('sortie_affichage', {'id': sortie.id}) }}" class="btn btn-primary">Afficher</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="navigation  "  >
                        {{ knp_pagination_render(sorties) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
