{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} - Sortie{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Créer une sortie</h1>
    </div>
    <div class="container ">
        <div class="row "  >
             <div class="col-lg-12 mb-2">
                 <div class="w-50">
                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(form) }}
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}

                        {{ form_label(form.dateHeureDebut) }}
                        {{ form_widget(form.dateHeureDebut) }}

                        {{ form_label(form.dateLimiteInscription) }}
                        {{ form_widget(form.dateLimiteInscription) }}

                        {{ form_label(form.nbInscriptionMax) }}
                        {{ form_widget(form.nbInscriptionMax) }}

                        {{ form_label(form.duree) }}
                        {{ form_widget(form.duree) }}

                        {{ form_label(form.infoSortie) }}
                        {{ form_widget(form.infoSortie) }}

                        {{ form_label(form.campusOrganisateur) }}
                        {{ form_widget(form.campusOrganisateur) }}
                    <br>
                     {{ form_label(form.lieu) }}
                     {{ form_widget(form.lieu) }}
                        <div class="mt-2 mb-2 text-center">
                            <button type="submit" class="btn btn-outline-success " value="{{ app.user.id }}">Sauvegarder</button>&nbsp;<button class="btn btn-outline-primary" value="publier">Publier</button>
                            <a href="{{ path('main_accueil') }}" class="btn btn-danger">Annuler</a>
                        </div>
                        {{ form_end(form) }}
                 </div>
             </div>
        </div>
    </div>

{% endblock %}