{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} - Créer une Sortie{% endblock %}

{% block body %}
    <div class="jumbotron bg-warning text-center">
        <h1><a href="{{ path('sortie_creation') }}" style="color:black; text-decoration: none">Créer une sortie</a></h1>
    </div>
    <div class="container ">
        <div class="row "  >
             <div class="col-lg-6 mb-2">
                 <div class="w-50">
                        {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(formSortie) }}

                     {{ form_label(formSortie.lieu) }}
                     {{ form_widget(formSortie.lieu) }}<a href="#formulairelieu"><button style="border: none; background:none;" type="button" onclick="formulaireLieu('formulairelieu')"  id="boutonFormulaireLieu"  >
                             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" color="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                 <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                 <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                             </svg>
                         </button></a><br>

                        {{ form_label(formSortie.nom) }}
                        {{ form_widget(formSortie.nom) }}

                        {{ form_label(formSortie.dateHeureDebut) }}
                        {{ form_widget(formSortie.dateHeureDebut) }}

                        {{ form_label(formSortie.dateLimiteInscription) }}
                        {{ form_widget(formSortie.dateLimiteInscription) }}

                        {{ form_label(formSortie.nbInscriptionMax) }}
                        {{ form_widget(formSortie.nbInscriptionMax) }}

                        {{ form_label(formSortie.duree) }}
                        {{ form_widget(formSortie.duree) }}

                        {{ form_label(formSortie.infoSortie) }}
                        {{ form_widget(formSortie.infoSortie) }}

                     <label for="campus">Campus :</label>
                     <input class="form-control" readonly type="text" id="campus" name="campus" value="{{ campus.nom }}">


                     {{ form_label(formSortie.photo) }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
                         <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                         <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
                     </svg>
                     {{ form_widget(formSortie.photo) }}


                        <div class="mt-2 mb-2 text-center">
                          <button type="submit"  class="btn btn-outline-primary" name="publier" id="publier" value="publier" onclick="publierSortie()">Publier</button>&nbsp; <button  type="submit"  class="btn btn-outline-success " name="safe"  id="safe" value="safe">Sauvegarder</button>
                            <a href="{{ path('main_accueil') }}" class="btn btn-danger mt-2">Annuler</a>
                        </div>
                     <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">
                        {{ form_end(formSortie) }}
                 </div>
             </div>
            <hr>
            <div class="col-lg-6 mb-2" >
                <div class="w-50 text-center" id="formulairelieu" style="display: none;">
                    <h1>Ajouter un lieu</h1>
                    {% form_theme formLieu 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(formLieu) }}

                        {{ form_label(formLieu.nom) }}
                        {{ form_widget(formLieu.nom) }}

                        {{ form_label(formLieu.ville) }}
                        {{ form_widget(formLieu.ville) }}


                        {{ form_label(formLieu.rue) }}
                        {{ form_widget(formLieu.rue) }}

                        {{ form_label(formLieu.latitude) }}
                        {{ form_widget(formLieu.latitude) }}

                        {{ form_label(formLieu.longitude) }}
                        {{ form_widget(formLieu.longitude) }}

                        <div class="mt-2 mb-2 text-center">
                            <button style="border: none; background:none;" type="submit" value="{{ app.user.id }}" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" color="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    {{ form_end(formLieu) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}