

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if app.user %}
        <div class="logo">
            <a href="{{ path('main_accueil') }}"><img src="{{ asset('imageLogo/logoIcon.png') }}" alt="logo"></a>
        </div>
        <div class="nav-item ml-5">
            <a class=" navbar-brand " href="{{ path('main_accueil') }}">Sortir.com</a>
        </div>
    {% endif %}
    <div class="logo">
        <a href="{{ path('app_login') }}"><img src="{{ asset('imageLogo/logoIcon.png') }}" alt="logo"></a>
    </div>
    <div class="nav-item ml-5">
        <a href="{{ path('app_login') }}"><div class="navbar-brand">Sortir.com</div></a>
    </div>
    {% if app.user %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav" style="justify-content: flex-end">
            <div class="row">
                <div class="col-lg-4">
                    <div class="container">
                        <ul class="navbar-nav no-wrap me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class=" nav-link active  " href="#" title="Accueil">Ville</a>
                            </li>
                            <li class="nav-item " style="white-space: nowrap;">
                                <a class=" nav-link  " href="#" title="Nous">Campus</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link " href="{{ path('main_accueil') }}" title="Wish-List">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link " href="#" title="Ajouter">Mon Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link " href="{{ path('app_logout') }}" title="Ajouter">Se Deconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</nav>
